.path-frontpage .region-header {
  background-color: @brand-blocks;
  margin-bottom: 35px;
  border-bottom: 3px solid;
  padding-bottom: 15px;
  .block-title {
    .hide;
  }
  .slick-margin {
    margin-left: 25px;
  }
}

.paff-logo{
  .pull-left;
  display: block;
  width: 100%;
  max-width: 340px;
  img{
    max-width: 100%;
    height: auto;
  }
}
.input-group-btn{
  .hide
}
.in-block{
  display:inline-block;
  margin-left: 10px;
  h2{
    color:#0d0d0d;
  }
}





.navbar{
  background-color: @brand-primary;
  font-weight: @headings-font-weight;
  color: @text-color;
  font-size:24px;

  .navbar-header{
    width:100%;
  }
  @media (min-width: @screen-md){
    .navbar-nav li{
      &:first-child a{
        padding-left: 15px;
      }
      + li{
        margin-left:10px;
      }
    }
    .block-search {
      float:right;
      margin-top: 8px;
      width:320px;
      .input-group{
        width:320px;
      }
      .form-item{
        margin-bottom: 0;
      }
    }
  }
}
