.region-sidebar-second {
  margin-top: 25px;
  .block{
    h2{
      display: inline-block;
      font-size: 26px;
    }
    h3{
      font-size: 22px;
    }
    h3 > a:hover, a:hover {
      color:@brand-primary;
    }
    .field-content {
      a {
        display: inline-block;
        i{
          &:hover{
          color:@brand-primary;
          }
        }
      }
    }
  }
  @media (min-width: @screen-md){
    margin-top: 0;
    margin-left: 10px;
  }
  .well{
    background-color: @sidebar-well-color;
  }
}
