.midnight-creeps{
  h2{
    color: @brand-film;
  }
   a{
    color: @brand-film;
    &:hover{
      color: #3bab8b;
    }
  }
}
.pafforama{
  h2{
    color: @brand-news;
  }
  a{
    color: @brand-news;
    &:hover{
      color: #585492;
    }
  }
}
.early-works{
  h2{
    color: @brand-rani-radovi;
  }
  a{
    color: @brand-rani-radovi;
    &:hover{
      color: #d0161c;
    }
  }
}
.lighthouses{
  h2{
    color: @brand-location;
  }
  a{
    color: @brand-location;
    &:hover{
      color: #d58010;
    }
  }
}
.bright-future{
  h2{
    color: @brand-svetla;
  }
  a{
    color: @brand-svetla;
    &:hover{
      color: #e8308f;
    }
  }
}
.the-amazed-spectator{
  h2{
    color: @brand-event;
  }
  a{
    color: @brand-event;
    &:hover{
      color: #04abc8;
    }
  }
}
.view-news .content-border{
  border: 5px solid @brand-border ;
  padding: 20px;
  margin-top: 15px;
  @media (min-width: @screen-md){
    margin-top: 0;
  }
}
