.ponocna-jeza{
  h2{
    color: @brand-film;
  }
}
.pafforama{
  h2{
    color: @brand-news;
  }
}
.rani-radovi{
  h2{
    color: @brand-rani-radovi;
  }
}
.svetionici{
  h2{
    color: @brand-location;
  }
}
.svetla-buducnost{
  h2{
    color: @brand-svetla;
  }
}
.the-amazed-spectator{
  h2{
    color: @brand-event;
  }
}